* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 800px;
  display: block;
  background-size: cover;
}
.first {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
}
.second {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
}
.third {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
}
.forth {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
}
